* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
    position: sticky;
    top: 0px;
    background: black;
    z-index: 999;
}

nav {
    min-height: 10vh;
    margin: auto;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

nav h1, 
nav ul {
    font-size: 2rem;
    flex: 1;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}
nav a {
    color: white;
    text-decoration: none;
}




.bubble {
    position: absolute;
    z-index: -2;
    background: #192734;
    transform: scale(1.5);
    transition: all 0.5s ease;
    border-radius: 10px;
}

@media screen and (max-width: 500px) {
    nav h1, 
    nav ul {
        font-size: 1rem;
        flex: 1;
    } 
    .header {
        font-size: 20px;
    }
}
