body {margin:0;height:2000px;}

.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

.icon-bar a:hover {
  background-color: rgb(90, 90, 90);
}

.instagram {
  background: #5c166b;
  color: white;
}

.twitter {
  background: #55ACEE;
  color: white;
}

.github {
  background: #000;
  color: white;
}

.linkedin {
  background: #085ece;
  color: white;
}

.telegram {
  background: #007bb5;
  color: white;
}

.content {
  margin-left: 75px;
  font-size: 30px;
}

@media screen and (max-width: 800px){
  .icon-bar {
    display: none;
    position: fixed;
    top: 95%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(25%);
  }
  .icon-bar a {
    display: unset;
    text-align: center;
    padding: 16px;
    margin: -0.72%;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
  }
  
.icon-bar a:hover {
  background-color: rgb(90, 90, 90);
}
  
}


